<div class="center jumbotron">
  <h1>Welcome to the Naoki's Book Store</h1>

  <h2>
    書籍詳細・検索・更新等ができるよ！
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
